//Colors
$primaryLight: #acc85c;
$primaryMed: #acc85c;
$primaryDark: #89a240;
$primaryDarker: #758f2a;

$black: #272424;
$blackest: #000000;

$grayLight: #9b9b9b;
$grayMed: #9b9b9b;

$white: #FFFFFF;
$whitish: #f9f9f9;


//Dimentions
$header-height: 5em;
