@import "style/reset.scss";
@import "style/variables.scss";
@import "style/mixins.scss";
@import "style/fonts.scss";

html, body, #root{
  width: 100%;
  height: 100%;
  color: black;
  font-family: 'Source Sans Pro', sans-serif;
  //font-family: 'Source Serif Pro', serif;
}

.App {
  width: 100%;
  min-height: 100vh;
  background-color: gray;
  display: flex;

  header {
    height: $header-height;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include bp-small {
      background-color: purple;
    }
    .accountLinks {
      text-align: right;
      a {
        display: block;
      }
    }

  }

  aside{
    width: 15em;
    flex: none;
    padding-top: $header-height * 1.2;
    background-color: yellowgreen;
  }

  .flexContain {
    display: flex;
  }

  #main {
    padding-top: $header-height * 1.2;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 4;
  }

  .Home {
    justify-content: center;
  }

  .Add {
    justify-content: left;
  }
  .Recipe {
    flex-direction: column;
    .container {
      max-width: 40em;
      margin: auto;
    }
  }
}

.cardContain {
  padding-left: 1em;
  padding-right: 1em;
  .card {
    background-color: white;
    padding: 2em;
    margin: 0.5em;
    flex: 1;
    flex-grow: 1;
    min-width: 12em;
    max-width: 16em;
  }
}

form {
  margin: auto;
    h2, h3 {
        padding: 0.5em;
    }
    input, textarea, select {
        display: block;
        padding: 0.5em;
        margin:  0.5em;
    }
    label {
        display: block;
        padding: 0.5em;
    }
    textarea {
      width: 90%;
    }
    .step {
      max-width: 600px;
    }
    .ingredient, .step {
      display: flex;
      align-items: center;
      input, textarea, select, label {
        display: inline-block;
      }
      button {
        padding: 0.5em 1em;
        margin: 0.5em;
      }
    }
}
