@import "style/reset.scss";
@import "style/variables.scss";
@import "style/mixins.scss";
@import "style/fonts.scss";

html, body, #root{
  width: 100%;
  height: 100%;
  color: $black;
  font-family: $sans-font;
}

::selection {
  background: #acc85c;
  color: $white;
}
::-moz-selection {
  background: #acc85c;
  color: $white;
}

a, button {
  cursor: pointer;
}

a {
  color: $black;
  text-decoration: none;
  &:hover {
    color: $blackest;
  }
}

// ########  ##     ## ######## ########  #######  ##    ##  ######
// ##     ## ##     ##    ##       ##    ##     ## ###   ## ##    ##
// ##     ## ##     ##    ##       ##    ##     ## ####  ## ##
// ########  ##     ##    ##       ##    ##     ## ## ## ##  ######
// ##     ## ##     ##    ##       ##    ##     ## ##  ####       ##
// ##     ## ##     ##    ##       ##    ##     ## ##   ### ##    ##
// ########   #######     ##       ##     #######  ##    ##  ######

button {
  border-radius: 2px;
  box-shadow: 0 2px 4px 2px rgba(54, 39, 28, 0.1);
  margin: 0.5em 0;
  padding: 0.7em 1em;

  &.secondaryBtn {
    background-color: $black;
    color: $white;
    border: none;
    &:hover {
      background-color: $blackest;
      color: $grayLight;
    }
    &:active {
      box-shadow: 0 2px 4px 2px rgba(54, 39, 28, 0);
    }
  }
}
.googleSignInBtn {
  display: flex;
  align-items: center;
  padding: 0 1.5em 0 0 !important;
  background-color: $white;
  box-shadow: 0 1px 5px 0 rgba(51, 42, 29, 0.1) inset ;
  border: 1px solid rgba(51, 42, 29, 0.1);
  img {
    height: 5em;
  }
  &:hover {
      background-color: $whitish;
      border: 1px solid rgba(51, 42, 29, 0.5);
  }
}

//   ###    ########  ########
//  ## ##   ##     ## ##     ##
// ##   ##  ##     ## ##     ##
// ##     ## ########  ########
// ######### ##        ##
// ##     ## ##        ##
// ##     ## ##        ##

.App {
  width: 100%;
  min-height: 100vh;
  background-color: $whitish;
  display: flex;

  & > header {
    z-index: 100;
    height: $header-height;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
      padding: 0 1em;
    }
    .accountLinks {
      display: block;
      text-align: right;
      a {
        display: block;
      }
    }
    div {
        display: flex;
    }
  }

  aside{
    width: 15em;
    flex: none;
    padding-top: $header-height;
    background-color: $white;
  }

  #main {
    padding-top: $header-height;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 4;
    .isHidden {
      display: none;
    }
  }
}

.flexContain {
  display: flex;
  width: 100%;
}

.Home {
  justify-content: center;
}

aside {
  &.cookbookMarks {
    background-color: $white;
    h3 {
      padding: 2em 1em 1em;
    }
    li {
      padding: 1em;
    }
    button {
      padding: 1em;
      width: 100%;
    }
  }
}

.cookBookContainer {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  header {
    background-color: $primaryMed;
    color: $white;
    padding: 6em 2em 4em;
    font-family: $serif-font;
  }
}

.Add {
  justify-content: left;
}

.Recipe {
  flex-direction: column;
  .container {
    max-width: 40em;
    margin: auto;
  }
}

.cardContain {
  position: relative;
  top: -3em;
  padding-left: 1em;
  padding-right: 1em;
  //column-count: 1;
  column-gap: 1em;;
  column-width: 15em;

  @include bp-md {
    //column-count: 2;
  }
  @include bp-xl {
    //column-count: 3;
  }

  .card {
     box-shadow: 0 2px 3px 2px rgba(54, 40, 28, 0.07);
     background-color: $white;
     display: inline-block;
     margin-bottom: 1em;
     width: 100%;
     border-radius: 0.2em;
     &:hover {
       box-shadow: 0 0 0 2px $primaryDark, 0 2px 3px 2px rgba(54, 40, 28, 0.07);
     }
     &:active {
       box-shadow: 0 0 0 2px $grayMed;
       h2 {
         opacity: 0.85;
       }
     }
     .cardImg {
       width: 100%;
       height: 5em;
       background-size: cover;
       border-radius: 0.2em 0.2em 0 0;
     }
     h2 {
       font-family: $sans-font;
       padding: 1em;
       line-height: 1.2em;
     }
  }
}

// ##        #######   ######   #### ##    ##
// ##       ##     ## ##    ##   ##  ###   ##
// ##       ##     ## ##         ##  ####  ##
// ##       ##     ## ##   ####  ##  ## ## ##
// ##       ##     ## ##    ##   ##  ##  ####
// ##       ##     ## ##    ##   ##  ##   ###
// ########  #######   ######   #### ##    ##

.LoginPage {
  display: flex;
  width: 100%;
  background-image: url("./img/bg-coul.jpeg");
  background-size: cover;
  align-items: flex-start;
  padding: 0 15%;
  .container {
    padding: 3em 3em 1em;
    background-color: $white;
    max-width: 18em;
    border-radius: 4px;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.29);
    .titleSection {
      padding-bottom: 1em;
      h1 {
        font-size: 2.7em;
      }
      p {
        font-family: $serif-font;
        padding-top: 0.3em;
        color: $grayMed;
      }
    }
    .Form {
      padding-bottom: 1em;
    }
    .googleLogin {
      padding-bottom: 1em;
    }
    .logSign {
      & > a > * {
        display: inline-block;
      }
      span {
        font-family: $serif-font;
        font-weight: 700;
        color: $primaryDark;
        padding-left: 0.5em;
      }
    }
    input {
      display: block;
    }
  }
  .error {
    padding-bottom: 1em;
    color: red;
  }
}

// ########  #######  ########  ##     ##
// ##       ##     ## ##     ## ###   ###
// ##       ##     ## ##     ## #### ####
// ######   ##     ## ########  ## ### ##
// ##       ##     ## ##   ##   ##     ##
// ##       ##     ## ##    ##  ##     ##
// ##        #######  ##     ## ##     ##

input, textarea {
  background-color: $whitish;
  box-shadow: 0 1px 5px 0 rgba(51, 42, 29, 0.1) inset ;
  border: 1px solid rgba(51, 42, 29, 0.1);

  &, select {
    display: block;
    padding: 0.6em 1em;
    margin:  0.5em 0;
    border-radius: 2px;
    &:focus {
      outline: 2px solid $primaryLight;
    }
  }
}

label {
    display: block;
    padding: 0.5em 0;
    font-family: $serif-font;
    letter-spacing: 0.06em;
    font-size: 0.8em;
    font-weight: 700;
}



form {
  margin: auto;
    h2, h3 {
        padding: 0.5em;
    }
    input, textarea, select {
        display: block;
        padding: 0.5em;
        margin:  0.5em;
    }
    label {
        display: block;
        padding: 0.5em;
    }
    textarea {
      width: 90%;
    }
    .step {
      max-width: 600px;
    }
    .ingredient, .step {
      display: flex;
      align-items: center;
      input, textarea, select, label {
        display: inline-block;
      }
      button {
        padding: 0.5em 1em;
        margin: 0.5em;
      }
    }
}
