/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600|Source+Serif+Pro:400,600");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*Utils*/
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

/*Media Queries*/
/*Transitions*/
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Source Serif Pro", Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
  font-weight: 600; }

h1 {
  font-size: 2em;
  letter-spacing: 0.03em; }

h2 {
  font-size: 1.5em;
  letter-spacing: 0.025em; }

h3 {
  font-size: 1.25em;
  letter-spacing: 0.02em; }

h4 {
  font-size: 1.15em;
  letter-spacing: 0.02em; }

h5 {
  font-size: 1em;
  letter-spacing: 0.01em; }

h6 {
  font-size: 0.9em;
  letter-spacing: 0.01em; }

p {
  line-height: 1.2em; }

/*Utils*/
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

/*Media Queries*/
/*Transitions*/
.icon {
  display: inline-block;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .icon:hover {
    opacity: 0.8; }
  .icon.i24 {
    width: 24px;
    height: 24px;
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: center; }
  .icon.i18 {
    width: 18px;
    height: 18px;
    background-size: 12px 12px;
    background-repeat: no-repeat;
    background-position: center; }
  .icon.search {
    background-image: url("./img/icons/ic_search.svg"); }
  .icon.add {
    background-image: url("./img/icons/ic_add-w.svg"); }
  .icon.addBlack {
    background-image: url("./img/icons/ic_add.svg"); }
  .icon.send {
    background-image: url("./img/icons/ic_send_white.svg"); }
  .icon.edit {
    background-image: url("./img/icons/ic_edit_white.svg"); }
  .icon.print {
    background-image: url("./img/icons/ic_print_white.svg"); }
  .icon.close {
    background-image: url("./img/icons/ic_close_black.svg"); }
  .icon.logout {
    background-image: url("./img/icons/ic_logout.svg"); }
  .icon.menu {
    background-image: url("./img/icons/ic_menu-w.svg"); }

.sk-chasing-dots {
  margin: 40px auto;
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;
  -webkit-animation: sk-chasingDotsRotate 1.5s infinite linear;
  animation: sk-chasingDotsRotate 1.5s infinite linear; }

.sk-chasing-dots .sk-child {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #cae47e;
  border-radius: 50%;
  -webkit-animation: sk-chasingDotsBounce 2s infinite ease-in-out;
  animation: sk-chasingDotsBounce 2s infinite ease-in-out; }

.sk-chasing-dots .sk-dot2 {
  background-color: #d1cfcf;
  top: auto;
  bottom: 0;
  width: 40%;
  height: 40%;
  -webkit-animation-delay: -1s;
  animation-delay: -1s; }

@-webkit-keyframes sk-chasingDotsRotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes sk-chasingDotsRotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-webkit-keyframes sk-chasingDotsBounce {
  0%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes sk-chasingDotsBounce {
  0%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

html, body, #root {
  width: 100%;
  height: 100%;
  color: #262424;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif; }

::selection {
  background: #acc85c;
  color: #ffffff; }

::-moz-selection {
  background: #acc85c;
  color: #ffffff; }

a, button {
  cursor: pointer;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease; }

input, textarea, select {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease; }

a {
  color: #262424;
  text-decoration: none; }
  a:hover {
    color: #000000; }

.displayInlineBlock {
  display: inline-block !important; }

@media only screen and (max-width: 30em) {
  .hideOnMobile {
    display: none !important; } }

button {
  border-radius: 2px;
  box-shadow: 0 2px 4px 2px rgba(54, 39, 28, 0.1);
  margin: 0.5em 0;
  padding: 0.7em 1em;
  background-color: #acc85c;
  color: #ffffff;
  border: none; }
  button:hover {
    background-color: #89a240;
    color: #f4f3f2; }
  button:active {
    box-shadow: 0 2px 4px 2px rgba(54, 39, 28, 0); }
  button.secondaryBtn {
    background-color: #262424;
    display: block; }
    button.secondaryBtn:hover {
      box-shadow: 0 2px 4px 2px rgba(54, 39, 28, 0);
      background-color: #000000;
      color: #f4f3f2; }
  button.tertiaryBtn {
    background-color: #f4f3f2;
    color: #262424; }
    button.tertiaryBtn:hover {
      background-color: #d1cfcf; }

.googleSignInBtn {
  display: flex;
  align-items: center;
  padding: 0 1.5em 0 0 !important;
  background-color: #ffffff;
  box-shadow: 0 1px 5px 0 rgba(51, 42, 29, 0.1) inset;
  border: 1px solid rgba(51, 42, 29, 0.1);
  color: #262424; }
  .googleSignInBtn img {
    height: 5em; }
  .googleSignInBtn:hover {
    background-color: #f9f9f9;
    border: 1px solid rgba(51, 42, 29, 0.5);
    color: #000000; }

.App {
  width: 100%;
  min-height: 100vh;
  background-color: #f9f9f9;
  display: flex; }

.App > header {
  z-index: 100;
  height: 3em;
  font-family: "Source Serif Pro", Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 40px 4px rgba(54, 39, 28, 0.1); }
  @media only screen and (min-width: 40em) {
    .App > header {
      height: 4em; } }
  @media print {
    .App > header {
      display: none; } }
  .App > header a {
    padding: 0 0.5em; }
    @media only screen and (min-width: 40em) {
      .App > header a {
        padding: 0 1em; } }
  .App > header form {
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 2; }
    .App > header form .searchbar {
      background-color: rgba(255, 255, 255, 0);
      box-shadow: none;
      outline: none; }
    .App > header form input {
      box-shadow: none;
      background-color: #ffffff !important;
      border: 0px solid #ffffff;
      font-size: 1.2em;
      margin: 0;
      text-align: right;
      letter-spacing: 0.03em;
      width: 50%;
      padding: 0;
      outline: none; }
      @media only screen and (min-width: 40em) {
        .App > header form input {
          font-size: 1.6em; } }
      .App > header form input:focus, .App > header form input:active {
        outline: none;
        border: 0; }
        .App > header form input:focus::placeholder, .App > header form input:active::placeholder {
          color: #cae47e; }
      .App > header form input::placeholder {
        color: #d1cfcf; }
    .App > header form button:focus, .App > header form button:active {
      outline: 0;
      border: 0;
      box-shadow: none; }
  .App > header .logo {
    text-transform: uppercase;
    font-size: 4vw;
    font-weight: 600;
    padding-left: 0.4em;
    letter-spacing: 0.16em; }
    @media only screen and (min-width: 40em) {
      .App > header .logo {
        font-size: 1.6em; } }
  .App > header .accountLinks {
    display: block;
    text-align: right;
    font-size: 0.8em;
    padding: 16px 16px 0; }
    @media only screen and (min-width: 40em) {
      .App > header .accountLinks {
        padding: 1.5em 1.5em 0; } }
    @media only screen and (min-width: 60em) {
      .App > header .accountLinks {
        padding-top: 1.4em 1.5em 0; } }
    .App > header .accountLinks > * {
      display: block;
      padding: 0;
      line-height: 1.2em; }
    .App > header .accountLinks a {
      color: #89a240; }
      .App > header .accountLinks a:hover {
        color: #cae47e; }
    .App > header .accountLinks p, .App > header .accountLinks a {
      display: none; }
      @media only screen and (min-width: 60em) {
        .App > header .accountLinks p, .App > header .accountLinks a {
          display: block; } }
    .App > header .accountLinks i {
      cursor: pointer; }
      @media only screen and (min-width: 60em) {
        .App > header .accountLinks i {
          display: none; } }
  .App > header div {
    display: flex; }
  .App > header .newRecipeBtn {
    height: 3em;
    background-color: #262424;
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #ffffff;
    padding: 0.5em 0.8em;
    line-height: 2em; }
    @media only screen and (min-width: 40em) {
      .App > header .newRecipeBtn {
        height: 4em;
        padding: 1em 1.5em; } }
    .App > header .newRecipeBtn i {
      position: relative;
      top: 3px; }
    .App > header .newRecipeBtn span {
      padding-left: 0.5em;
      display: none; }
      @media only screen and (min-width: 60em) {
        .App > header .newRecipeBtn span {
          display: inline-block; } }
    .App > header .newRecipeBtn:hover {
      background-color: #89a240; }

aside {
  width: 15em;
  flex: none;
  position: fixed;
  left: 0;
  z-index: 99;
  height: 100%;
  padding-top: 3em;
  background-color: #ffffff;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  @media only screen and (min-width: 40em) {
    aside {
      padding-top: 4em; } }

#main {
  padding-top: 3em;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 4; }
  #main .isHidden {
    display: none; }
  @media only screen and (min-width: 40em) {
    #main {
      padding-top: 4em; } }

.flexContain {
  display: flex;
  width: 100%; }

.Home {
  justify-content: center;
  padding-left: 15em;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

aside.cookbookMarks {
  background-color: #ffffff;
  font-family: "Source Serif Pro", Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif; }
  aside.cookbookMarks h3 {
    padding: 0 1em 1em; }
  aside.cookbookMarks ul {
    padding: 1em 0; }
    aside.cookbookMarks ul li {
      padding: 1em;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease; }
      aside.cookbookMarks ul li.selected {
        background-color: rgba(38, 36, 36, 0.06);
        border-left: 0.2em solid #89a240;
        font-weight: 600;
        font-size: 1.1em;
        line-height: 0.8; }
      aside.cookbookMarks ul li:hover {
        background-color: #f9f9f9;
        font-weight: 600;
        color: #89a240; }
  aside.cookbookMarks a {
    padding: 1em 1em;
    margin: 1em 0;
    color: #89a240;
    font-weight: 600; }
  aside.cookbookMarks .menuBtn {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0.5em;
    background-color: #262424;
    color: #ffffff;
    left: 15em; }
    aside.cookbookMarks .menuBtn i {
      display: inline-block;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
      width: 24px;
      height: 24px;
      background-size: 16px 16px;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url("./img/icons/ic_close_white.svg"); }
      aside.cookbookMarks .menuBtn i:hover {
        opacity: 0.8; }
  aside.cookbookMarks .addCookbook {
    padding: 1em; }
    aside.cookbookMarks .addCookbook div {
      display: flex;
      justify-content: flex-end; }
    aside.cookbookMarks .addCookbook button {
      margin-right: 0.5em; }

.hideMenu .cookbookMarks {
  left: -15em; }
  .hideMenu .cookbookMarks .menuBtn i {
    background-image: url("./img/icons/ic_menu-w.svg"); }
    .hideMenu .cookbookMarks .menuBtn i:hover {
      opacity: 0.8; }

.hideMenu .Home {
  padding-left: 0; }

.sideTools {
  background-color: #262424;
  position: fixed;
  right: 0;
  top: 7em;
  padding: 0.2em 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  .sideTools:hover {
    background-color: #000000; }
  .sideTools i {
    display: block;
    padding: 1.2em; }

.bottomBar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #89a240;
  display: flex;
  justify-content: space-between; }
  .bottomBar button {
    box-shadow: none;
    border-radius: 0;
    margin: 0;
    background-color: #89a240;
    color: #262424;
    font-size: 1em;
    font-family: "Source Serif Pro", Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif; }
    .bottomBar button.saveBtn {
      background-color: #262424;
      color: #ffffff; }
      .bottomBar button.saveBtn:hover {
        color: #cae47e;
        background-color: #000000; }
    .bottomBar button:hover {
      color: #000000;
      background-color: #acc85c; }

.cookBookContainer {
  width: 100%;
  flex-direction: column; }
  .cookBookContainer header {
    background-color: #89a240;
    background-image: url("./img/bg-green.jpg");
    background-size: cover;
    background-position: center;
    color: #ffffff;
    padding: 6em 2em 4em;
    font-family: "Source Serif Pro", Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif; }

.Add {
  justify-content: left; }

.Recipe {
  flex-direction: column; }
  .Recipe .container {
    max-width: 40em;
    margin: auto; }

.addRecipe {
  display: block;
  color: #262424;
  padding: 1em 0;
  font-size: 0.8em; }
  .addRecipe:hover {
    color: #cae47e; }
  .addRecipe i {
    position: relative;
    top: 0.2em;
    margin-right: 0.5em; }

.cardContain {
  position: relative;
  top: -3em;
  padding-left: 1em;
  padding-right: 1em;
  column-gap: 1em;
  column-width: 15em;
  column-count: 1; }
  @media only screen and (min-width: 40em) {
    .cardContain {
      column-count: 2; } }
  @media only screen and (min-width: 60em) {
    .cardContain {
      columns: 3; } }
  @media only screen and (min-width: 80em) {
    .cardContain {
      column-count: 4; } }
  @media only screen and (min-width: 100em) {
    .cardContain {
      column-count: 6; } }
  .cardContain.searchContain {
    padding-top: 4em; }
  .cardContain .card {
    box-shadow: 0 2px 3px 2px rgba(54, 40, 28, 0.07);
    background-color: #ffffff;
    display: inline-block;
    margin-bottom: 1em;
    width: 100%;
    border-radius: 0.2em;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }
    .cardContain .card:hover {
      box-shadow: 0 0 0 2px #89a240, 0 2px 3px 2px rgba(54, 40, 28, 0.07); }
    .cardContain .card:active {
      -webkit-transition: all 0.1s ease;
      -moz-transition: all 0.1s ease;
      -ms-transition: all 0.1s ease;
      -o-transition: all 0.1s ease;
      transition: all 0.1s ease;
      box-shadow: 0 0 0 2px #d1cfcf; }
      .cardContain .card:active h2 {
        opacity: 0.85; }
    .cardContain .card .cardImg {
      width: 100%;
      height: 5em;
      background-size: cover;
      background-position: center;
      border-radius: 0.2em 0.2em 0 0; }
    .cardContain .card h2 {
      font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
      padding: 1em;
      line-height: 1.2em; }

.Recipe {
  background-color: #ffffff; }
  .Recipe .container {
    background-color: #ffffff;
    font-family: "Source Serif Pro", Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
    list-style-type: none;
    column-count: 1;
    column-gap: 3em;
    max-width: 60em;
    padding: 3em 7%; }
    @media only screen and (min-width: 40em) {
      .Recipe .container {
        padding: 3em; } }
    @media print {
      .Recipe .container {
        font-size: 0.8em; } }
    .Recipe .container > * {
      break-inside: avoid;
      padding-bottom: 1.8em; }
    @media only screen and (min-width: 40em) {
      .Recipe .container {
        column-count: 2; } }
    .Recipe .container h1 {
      font-size: 2em;
      text-transform: uppercase;
      font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
      padding-bottom: 1em; }
      @media only screen and (min-width: 40em) {
        .Recipe .container h1 {
          font-size: 2.75em; } }
      @media only screen and (min-width: 60em) {
        .Recipe .container h1 {
          font-size: 3.5em; } }
      @media print {
        .Recipe .container h1 {
          font-size: 1.8em;
          padding-bottom: 0.5em; } }
    .Recipe .container h3 {
      font-size: 1.6em;
      padding-bottom: 0.5em; }
    .Recipe .container li {
      line-height: 1.2em;
      padding-bottom: 0.6em; }
    .Recipe .container hr {
      border: 0.2em solid #cae47e;
      width: 3em;
      padding: 0;
      margin-bottom: 1.6em;
      background-color: #cae47e; }
    .Recipe .container .recipeInfos {
      font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: 600;
      text-transform: uppercase;
      font-size: 1.2em; }
      .Recipe .container .recipeInfos p {
        padding-bottom: 0.5em; }
        @media print {
          .Recipe .container .recipeInfos p {
            display: inline-block;
            font-size: 0.9em;
            padding-right: 1em; } }
    @media print {
      .Recipe .container .ingredientsList {
        display: inline-block;
        width: 50%; } }
    .Recipe .container .notes.displayDesktop {
      display: none; }
      @media only screen and (min-width: 40em) {
        .Recipe .container .notes.displayDesktop {
          display: block; } }
    .Recipe .container .notes.displayMobile {
      display: block; }
      @media only screen and (min-width: 40em) {
        .Recipe .container .notes.displayMobile {
          display: none; } }
    @media only screen and (min-width: 40em) {
      .Recipe .container .prepList {
        break-before: always; } }
    @media print {
      .Recipe .container .prepList {
        break-before: avoid; } }
    @media only screen and (min-width: 40em) {
      .Recipe .container .anecdote {
        border: 2px solid #cae47e;
        padding: 3em; } }
  .Recipe .recipeImg {
    width: 100%;
    height: 20vw;
    min-height: 10em;
    max-height: 30em;
    background-size: cover;
    background-position: center; }
    @media print {
      .Recipe .recipeImg {
        display: none; } }

.LoginPage {
  display: flex;
  width: 100%;
  background-image: url("./img/bg-coul.jpg");
  background-size: cover;
  align-items: flex-start;
  padding: 0; }
  @media only screen and (min-width: 30em) {
    .LoginPage {
      padding: 0 15%; } }
  .LoginPage .container {
    padding: 3em 3em 1em;
    background-color: #ffffff;
    width: 100%;
    border-radius: 4px;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.29); }
    @media only screen and (min-width: 30em) {
      .LoginPage .container {
        max-width: 24em; } }
    .LoginPage .container .titleSection {
      padding-bottom: 1em; }
      .LoginPage .container .titleSection h1 {
        font-size: 2.7em; }
      .LoginPage .container .titleSection p {
        font-family: "Source Serif Pro", Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
        padding-top: 0.3em;
        color: #d1cfcf; }
    .LoginPage .container .Form {
      padding-bottom: 1em; }
    .LoginPage .container .googleLogin {
      padding-bottom: 1em; }
    .LoginPage .container .logSign > a > * {
      display: inline-block; }
    .LoginPage .container .logSign span {
      font-family: "Source Serif Pro", Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
      font-weight: 700;
      color: #89a240;
      padding-left: 0.5em; }
    .LoginPage .container input {
      display: block;
      width: 100%;
      border: 2px solid #ffffff; }
      .LoginPage .container input:hover {
        border: 2px solid #cae47e; }
  .LoginPage .error {
    padding-bottom: 1em;
    color: red; }

input, textarea {
  background-color: #f9f9f9;
  box-shadow: 0 1px 5px 0 rgba(51, 42, 29, 0.1) inset;
  border: 1px solid #f9f9f9; }
  input, input select, textarea, textarea select {
    display: block;
    padding: 0.6em 1em;
    margin: 0.5em 0;
    border-radius: 2px;
    outline: 1px solid rgba(255, 255, 255, 0); }
    input:focus, input select:focus, textarea:focus, textarea select:focus {
      outline: 1px solid #cae47e; }

label {
  display: block;
  padding: 1em 0;
  font-family: "Source Serif Pro", Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
  letter-spacing: 0.06em;
  font-size: 1em;
  font-weight: 600; }

.newRecipeContainer header {
  width: 100%;
  background-color: #89a240;
  background-image: url("./img/bg-green.jpg");
  background-size: cover;
  background-position: center;
  color: #ffffff;
  padding: 8em 2em 3em; }
  .newRecipeContainer header h2 {
    max-width: 13em;
    margin: auto;
    font-size: 3em; }

form.createRecipe {
  background-color: #ffffff;
  background-image: url();
  box-shadow: 0 2px 3px 2px rgba(54, 40, 28, 0.07);
  padding: 1em 10% 5em;
  margin: auto;
  max-width: 100%;
  position: relative;
  top: -2em; }
  @media only screen and (min-width: 40em) {
    form.createRecipe {
      padding: 4em;
      max-width: 40em;
      border-radius: 0.3em; } }
  form.createRecipe h2, form.createRecipe h3 {
    padding: 1.5em 0.5em 0.5em 0; }
  form.createRecipe input, form.createRecipe textarea, form.createRecipe select {
    display: block;
    padding: 0.5em;
    margin: 0.5em;
    margin-left: 0;
    border: 1px solid #f4f3f2; }
    form.createRecipe input:hover, form.createRecipe textarea:hover, form.createRecipe select:hover {
      border: 1px solid #cae47e; }
  form.createRecipe select {
    border: 1px solid #262424; }
    form.createRecipe select:hover {
      border: 1px solid #acc85c; }
  form.createRecipe label {
    display: block;
    padding: 1.5em 0.5em 0.8em 0; }
  form.createRecipe textarea {
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    min-width: 80%;
    max-width: 80%; }
    @media only screen and (min-width: 40em) {
      form.createRecipe textarea {
        min-width: 30em;
        max-width: 30em; } }
  form.createRecipe .ingredient, form.createRecipe .step, form.createRecipe .notes {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1em; }
    @media only screen and (min-width: 40em) {
      form.createRecipe .ingredient, form.createRecipe .step, form.createRecipe .notes {
        margin-bottom: 0; } }
    form.createRecipe .ingredient input, form.createRecipe .ingredient textarea, form.createRecipe .ingredient select, form.createRecipe .ingredient label, form.createRecipe .step input, form.createRecipe .step textarea, form.createRecipe .step select, form.createRecipe .step label, form.createRecipe .notes input, form.createRecipe .notes textarea, form.createRecipe .notes select, form.createRecipe .notes label {
      margin-bottom: 0; }
      @media only screen and (min-width: 40em) {
        form.createRecipe .ingredient input, form.createRecipe .ingredient textarea, form.createRecipe .ingredient select, form.createRecipe .ingredient label, form.createRecipe .step input, form.createRecipe .step textarea, form.createRecipe .step select, form.createRecipe .step label, form.createRecipe .notes input, form.createRecipe .notes textarea, form.createRecipe .notes select, form.createRecipe .notes label {
          display: inline-block; } }
  form.createRecipe .selectImgInput {
    background-color: #ffffff;
    box-shadow: none;
    border: none; }
  form.createRecipe img {
    max-width: 4em;
    max-height: 4em; }
  form.createRecipe .close {
    background-color: #f4f3f2;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    padding: 0.8em; }
    form.createRecipe .close:hover {
      background-color: #cae47e;
      padding: 0.8em; }
    form.createRecipe .close:focus {
      padding: 0.8em;
      background-color: #d1cfcf; }
