/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600|Source+Serif+Pro:400,600");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*Utils*/
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

/*Media Queries*/
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Source Serif Pro", Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
  font-weight: 600; }

h1 {
  font-size: 2em;
  letter-spacing: 0.03em; }

h2 {
  font-size: 1.5em;
  letter-spacing: 0.025em; }

h3 {
  font-size: 1.25em;
  letter-spacing: 0.02em; }

h4 {
  font-size: 1.15em;
  letter-spacing: 0.02em; }

h5 {
  font-size: 1em;
  letter-spacing: 0.01em; }

h6 {
  font-size: 0.9em;
  letter-spacing: 0.01em; }

p {
  line-height: 1.2em; }

.icon {
  display: inline-block; }
  .icon.i24 {
    width: 24px;
    height: 24px;
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: center; }
  .icon.search {
    background-image: url("./img/icons/ic_search.svg"); }
    .icon.search:hover {
      background-image: url("./img/icons/ic_search.svg");
      background-image: url("./img/icons/ic_search_green.svg"); }
  .icon.add {
    background-image: url("./img/icons/ic_add_white.svg"); }
    .icon.add:hover {
      background-image: url("./img/icons/ic_add_white.svg");
      background-image: url("./img/icons/ic_add_moss.svg"); }
  .icon.send {
    background-image: url("./img/icons/ic_send_white.svg"); }
    .icon.send:hover {
      background-image: url("./img/icons/ic_send_white.svg");
      background-image: url("./img/icons/ic_send_moss.svg"); }
  .icon.edit {
    background-image: url("./img/icons/ic_edit_white.svg"); }
    .icon.edit:hover {
      background-image: url("./img/icons/ic_edit_white.svg");
      background-image: url("./img/icons/ic_edit_moss.svg"); }
  .icon.print {
    background-image: url("./img/icons/ic_print_white.svg"); }
    .icon.print:hover {
      background-image: url("./img/icons/ic_print_white.svg");
      background-image: url("./img/icons/ic_print_moss.svg"); }

html, body, #root {
  width: 100%;
  height: 100%;
  color: #262424;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif; }

::selection {
  background: #acc85c;
  color: #ffffff; }

::-moz-selection {
  background: #acc85c;
  color: #ffffff; }

a, button {
  cursor: pointer; }

a {
  color: #262424;
  text-decoration: none; }
  a:hover {
    color: #000000; }

button {
  border-radius: 2px;
  box-shadow: 0 2px 4px 2px rgba(54, 39, 28, 0.1);
  margin: 0.5em 0;
  padding: 0.7em 1em; }
  button.secondaryBtn {
    background-color: #262424;
    color: #ffffff;
    border: none; }
    button.secondaryBtn:hover {
      background-color: #000000;
      color: #f4f3f2; }
    button.secondaryBtn:active {
      box-shadow: 0 2px 4px 2px rgba(54, 39, 28, 0); }

.googleSignInBtn {
  display: flex;
  align-items: center;
  padding: 0 1.5em 0 0 !important;
  background-color: #ffffff;
  box-shadow: 0 1px 5px 0 rgba(51, 42, 29, 0.1) inset;
  border: 1px solid rgba(51, 42, 29, 0.1); }
  .googleSignInBtn img {
    height: 5em; }
  .googleSignInBtn:hover {
    background-color: #f9f9f9;
    border: 1px solid rgba(51, 42, 29, 0.5); }

.App {
  width: 100%;
  min-height: 100vh;
  background-color: #f9f9f9;
  display: flex; }
  .App > header {
    z-index: 100;
    height: 4em;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 40px 4px rgba(54, 39, 28, 0.1); }
    .App > header a {
      padding: 0 1em; }
    .App > header form {
      display: flex;
      margin: 0;
      align-items: center; }
      .App > header form input {
        box-shadow: none;
        background-color: #ffffff;
        border: none;
        font-size: 1.2em;
        margin: 0;
        text-align: right;
        font-family: "Source Serif Pro", Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
        letter-spacing: 0.03em; }
        .App > header form input:focus {
          outline: none; }
          .App > header form input:focus::placeholder {
            color: #cae47e; }
        .App > header form input::placeholder {
          color: #d1cfcf; }
    .App > header .accountLinks {
      display: block;
      text-align: right;
      font-family: "Source Serif Pro", Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
      font-size: 0.8em;
      padding: 1.4em 1.5em 0; }
      .App > header .accountLinks > * {
        display: block;
        padding: 0;
        line-height: 1.2em; }
      .App > header .accountLinks a {
        color: #89a240; }
    .App > header div {
      display: flex; }
    .App > header .newRecipeBtn {
      height: 4em;
      background-color: #262424;
      color: #ffffff;
      padding: 1.5em; }
      .App > header .newRecipeBtn:hover {
        background-color: #000000; }
  .App aside {
    width: 15em;
    flex: none;
    padding-top: 4em;
    background-color: #ffffff; }
  .App #main {
    padding-top: 4em;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 4; }
    .App #main .isHidden {
      display: none; }

.flexContain {
  display: flex;
  width: 100%; }

.Home {
  justify-content: center; }

aside.cookbookMarks {
  background-color: #ffffff;
  font-family: "Source Serif Pro", Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif; }
  aside.cookbookMarks h3 {
    padding: 2em 1em 1em; }
  aside.cookbookMarks ul {
    padding: 1em 0; }
    aside.cookbookMarks ul li {
      padding: 1em; }
      aside.cookbookMarks ul li.selected {
        background-color: rgba(38, 36, 36, 0.06);
        border-left: 0.2em solid #89a240;
        font-weight: 600;
        font-size: 1.1em;
        line-height: 0.8; }
      aside.cookbookMarks ul li:hover {
        background-color: #f9f9f9;
        font-weight: 600;
        color: #89a240; }
  aside.cookbookMarks a {
    padding: 1em 1em;
    margin: 1em 0;
    color: #89a240;
    font-weight: 600; }

.sideTools {
  background-color: #262424;
  position: fixed;
  right: 0;
  top: 7em;
  padding: 0.2em 0; }
  .sideTools:hover {
    background-color: #000000; }
  .sideTools i {
    display: block;
    padding: 1.2em; }

.cookBookContainer {
  width: 100%;
  flex-direction: column;
  justify-content: center; }
  .cookBookContainer header {
    background-color: #89a240;
    color: #ffffff;
    padding: 6em 2em 4em;
    font-family: "Source Serif Pro", Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif; }

.Add {
  justify-content: left; }

.Recipe {
  flex-direction: column; }
  .Recipe .container {
    max-width: 40em;
    margin: auto; }

.cardContain {
  position: relative;
  top: -3em;
  padding-left: 1em;
  padding-right: 1em;
  column-gap: 1em;
  column-width: 15em;
  column-count: 1; }
  @media only screen and (min-width: 40em) {
    .cardContain {
      column-count: 2; } }
  @media only screen and (min-width: 60em) {
    .cardContain {
      columns: 3; } }
  @media only screen and (min-width: 80em) {
    .cardContain {
      column-count: 4; } }
  @media only screen and (min-width: 100em) {
    .cardContain {
      column-count: 6; } }
  .cardContain .card {
    box-shadow: 0 2px 3px 2px rgba(54, 40, 28, 0.07);
    background-color: #ffffff;
    display: inline-block;
    margin-bottom: 1em;
    width: 100%;
    border-radius: 0.2em; }
    .cardContain .card:hover {
      box-shadow: 0 0 0 2px #89a240, 0 2px 3px 2px rgba(54, 40, 28, 0.07); }
    .cardContain .card:active {
      box-shadow: 0 0 0 2px #d1cfcf; }
      .cardContain .card:active h2 {
        opacity: 0.85; }
    .cardContain .card .cardImg {
      width: 100%;
      height: 5em;
      background-size: cover;
      background-position: center;
      border-radius: 0.2em 0.2em 0 0; }
    .cardContain .card h2 {
      font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
      padding: 1em;
      line-height: 1.2em; }

.Recipe {
  background-color: #ffffff; }
  .Recipe .container {
    background-color: #ffffff;
    font-family: "Source Serif Pro", Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
    column-count: 1;
    column-gap: 3em;
    max-width: 60em;
    padding: 3em 7%; }
    @media only screen and (min-width: 40em) {
      .Recipe .container {
        padding: 3em; } }
    .Recipe .container > * {
      break-inside: avoid;
      padding-bottom: 1.8em; }
    @media only screen and (min-width: 40em) {
      .Recipe .container {
        column-count: 2; } }
    .Recipe .container h1 {
      font-size: 3.5em;
      text-transform: uppercase;
      font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
      padding-bottom: 1em; }
    .Recipe .container h3 {
      font-size: 1.6em;
      padding-bottom: 0.5em; }
    .Recipe .container li {
      line-height: 1.2em;
      padding-bottom: 0.6em; }
    .Recipe .container hr {
      border: 0.2em solid #cae47e;
      width: 3em;
      padding: 0;
      margin-bottom: 1.6em;
      background-color: #cae47e; }
    .Recipe .container .notes.displayDesktop {
      display: none; }
      @media only screen and (min-width: 40em) {
        .Recipe .container .notes.displayDesktop {
          display: block; } }
    .Recipe .container .notes.displayMobile {
      display: block; }
      @media only screen and (min-width: 40em) {
        .Recipe .container .notes.displayMobile {
          display: none; } }
    @media only screen and (min-width: 40em) {
      .Recipe .container .prepList {
        break-before: always; } }
    @media only screen and (min-width: 40em) {
      .Recipe .container .anecdote {
        border: 2px solid #cae47e;
        padding: 3em; } }
  .Recipe .recipeImg {
    width: 100%;
    height: 20em;
    background-size: cover;
    background-position: center; }

.LoginPage {
  display: flex;
  width: 100%;
  background-image: url("./img/bg-coul.jpeg");
  background-size: cover;
  align-items: flex-start;
  padding: 0 15%; }
  .LoginPage .container {
    padding: 3em 3em 1em;
    background-color: #ffffff;
    max-width: 18em;
    border-radius: 4px;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.29); }
    .LoginPage .container .titleSection {
      padding-bottom: 1em; }
      .LoginPage .container .titleSection h1 {
        font-size: 2.7em; }
      .LoginPage .container .titleSection p {
        font-family: "Source Serif Pro", Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
        padding-top: 0.3em;
        color: #d1cfcf; }
    .LoginPage .container .Form {
      padding-bottom: 1em; }
    .LoginPage .container .googleLogin {
      padding-bottom: 1em; }
    .LoginPage .container .logSign > a > * {
      display: inline-block; }
    .LoginPage .container .logSign span {
      font-family: "Source Serif Pro", Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
      font-weight: 700;
      color: #89a240;
      padding-left: 0.5em; }
    .LoginPage .container input {
      display: block; }
  .LoginPage .error {
    padding-bottom: 1em;
    color: red; }

input, textarea {
  background-color: #f9f9f9;
  box-shadow: 0 1px 5px 0 rgba(51, 42, 29, 0.1) inset;
  border: 1px solid rgba(51, 42, 29, 0.1); }
  input, input select, textarea, textarea select {
    display: block;
    padding: 0.6em 1em;
    margin: 0.5em 0;
    border-radius: 2px; }
    input:focus, input select:focus, textarea:focus, textarea select:focus {
      outline: 2px solid #cae47e; }

label {
  display: block;
  padding: 0.5em 0;
  font-family: "Source Serif Pro", Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
  letter-spacing: 0.06em;
  font-size: 0.8em;
  font-weight: 700; }

form {
  margin: auto; }
  form h2, form h3 {
    padding: 0.5em; }
  form input, form textarea, form select {
    display: block;
    padding: 0.5em;
    margin: 0.5em; }
  form label {
    display: block;
    padding: 0.5em; }
  form textarea {
    width: 90%; }
  form .step {
    max-width: 600px; }
  form .ingredient, form .step {
    display: flex;
    align-items: center; }
    form .ingredient input, form .ingredient textarea, form .ingredient select, form .ingredient label, form .step input, form .step textarea, form .step select, form .step label {
      display: inline-block; }
    form .ingredient button, form .step button {
      padding: 0.5em 1em;
      margin: 0.5em; }
