/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Source+Serif+Pro:400,700");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*Media Queries*/
h1, h2, h3, h4, h5, h6 {
  font-family: "Source Serif Pro", Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
  font-weight: 700; }

h1 {
  font-size: 2em;
  letter-spacing: 0.04em; }

h2 {
  font-size: 1.5em;
  letter-spacing: 0.035em; }

h3 {
  font-size: 1.25em;
  letter-spacing: 0.03em; }

h4 {
  font-size: 1.15em;
  letter-spacing: 0.03em; }

h5 {
  font-size: 1em;
  letter-spacing: 0.02em; }

h6 {
  font-size: 0.9em;
  letter-spacing: 0.01em; }

p {
  line-height: 1.2em; }

html, body, #root {
  width: 100%;
  height: 100%;
  color: #272424;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif; }

::selection {
  background: #acc85c;
  color: #FFFFFF; }

::-moz-selection {
  background: #acc85c;
  color: #FFFFFF; }

a, button {
  cursor: pointer; }

button {
  border-radius: 2px;
  box-shadow: 0 2px 4px 2px rgba(54, 39, 28, 0.1);
  margin: 0.5em 0;
  padding: 0.7em 1em; }
  button.secondaryBtn {
    background-color: #272424;
    color: #FFFFFF;
    border: none; }

.googleSignInBtn {
  display: flex;
  align-items: center;
  padding: 0 1.5em 0 0 !important;
  background-color: #FFFFFF;
  box-shadow: 0 1px 5px 0 rgba(51, 42, 29, 0.1) inset;
  border: 1px solid rgba(51, 42, 29, 0.1); }
  .googleSignInBtn img {
    height: 5em; }
  .googleSignInBtn:hover {
    background-color: #f9f9f9;
    border: 1px solid rgba(51, 42, 29, 0.5); }

.App {
  width: 100%;
  min-height: 100vh;
  background-color: deeppink;
  display: flex; }
  .App > header {
    z-index: 100;
    height: 5em;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .App > header a {
      padding: 0 1em; }
    .App > header .accountLinks {
      display: block;
      text-align: right; }
      .App > header .accountLinks a {
        display: block; }
    .App > header div {
      display: flex; }
  .App aside {
    width: 15em;
    flex: none;
    padding-top: 5em;
    background-color: #FFFFFF; }
  .App #main {
    padding-top: 5em;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 4; }
    .App #main .isHidden {
      display: none; }

.flexContain {
  display: flex;
  width: 100%; }

.Home {
  justify-content: center; }

aside.cookbookMarks {
  background-color: #FFFFFF; }
  aside.cookbookMarks h3 {
    padding: 2em 1em 1em; }
  aside.cookbookMarks li {
    padding: 1em; }
  aside.cookbookMarks button {
    padding: 1em;
    width: 100%; }

.cookBookContainer {
  width: 100%;
  flex-direction: column;
  justify-content: center; }
  .cookBookContainer header {
    background-color: #acc85c;
    color: #FFFFFF;
    padding: 6em 2em 4em;
    font-family: "Source Serif Pro", Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif; }

.Add {
  justify-content: left; }

.Recipe {
  flex-direction: column; }
  .Recipe .container {
    max-width: 40em;
    margin: auto; }

.cardContain {
  position: relative;
  top: -3em;
  padding-left: 1em;
  padding-right: 1em;
  column-count: 1;
  column-gap: 0; }
  @media only screen and (min-width: 40em) {
    .cardContain {
      column-count: 2; } }
  @media only screen and (min-width: 80em) {
    .cardContain {
      column-count: 3; } }
  .cardContain .card {
    background-color: #FFFFFF;
    padding: 2em;
    margin: 0.5em;
    display: inline-block;
    flex-grow: 1; }

.LoginPage {
  display: flex;
  width: 100%;
  background-image: url("./img/bg-coul.jpeg");
  background-size: cover;
  align-items: flex-start;
  padding: 0 15%; }
  .LoginPage .container {
    padding: 3em 3em 1em;
    background-color: #FFFFFF;
    max-width: 18em;
    border-radius: 4px;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.29); }
    .LoginPage .container .titleSection {
      padding-bottom: 1em; }
      .LoginPage .container .titleSection h1 {
        font-size: 2.7em; }
      .LoginPage .container .titleSection p {
        font-family: "Source Serif Pro", Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
        padding-top: 0.3em;
        color: #9b9b9b; }
    .LoginPage .container .Form {
      padding-bottom: 1em; }
    .LoginPage .container .googleLogin {
      padding-bottom: 1em; }
    .LoginPage .container .logSign > a > * {
      display: inline-block; }
    .LoginPage .container .logSign span {
      font-family: "Source Serif Pro", Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
      font-weight: 700;
      color: #89a240;
      padding-left: 0.5em; }
    .LoginPage .container input {
      display: block; }
  .LoginPage .error {
    padding-bottom: 1em;
    color: red; }

input, textarea {
  background-color: #f9f9f9;
  box-shadow: 0 1px 5px 0 rgba(51, 42, 29, 0.1) inset;
  border: 1px solid rgba(51, 42, 29, 0.1); }
  input, input select, textarea, textarea select {
    display: block;
    padding: 0.6em 1em;
    margin: 0.5em 0;
    border-radius: 2px; }
    input:focus, input select:focus, textarea:focus, textarea select:focus {
      outline: 2px solid #acc85c; }

label {
  display: block;
  padding: 0.5em 0;
  font-family: "Source Serif Pro", Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
  letter-spacing: 0.06em;
  font-size: 0.8em;
  font-weight: 700; }

form {
  margin: auto; }
  form h2, form h3 {
    padding: 0.5em; }
  form input, form textarea, form select {
    display: block;
    padding: 0.5em;
    margin: 0.5em; }
  form label {
    display: block;
    padding: 0.5em; }
  form textarea {
    width: 90%; }
  form .step {
    max-width: 600px; }
  form .ingredient, form .step {
    display: flex;
    align-items: center; }
    form .ingredient input, form .ingredient textarea, form .ingredient select, form .ingredient label, form .step input, form .step textarea, form .step select, form .step label {
      display: inline-block; }
    form .ingredient button, form .step button {
      padding: 0.5em 1em;
      margin: 0.5em; }
